<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КомпоДоктор - ремонт компьютероной техники.</title>
    <link rel="icon" type="/image/x-icon" href="/img/logo.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
</head>

<body>
<div id="app">
    <div id="header" class="main-header">
        <div class="nav-bg">
            <div class="container">
                <div class="header-row">
                    <div id="menu" class="menu">
                        <ul v-if="show" class="menu-category">
                            <li class="menu-first"><a href="#services">Послуги</a></li>
                            <li><a href="#computer-price">Цiни</a></li>
                            <li><a href="#about-us">Про нас</a></li>
                            <li><a href="#our-contacts">Контакти</a></li>
                        </ul>
                        <ul v-else class="menu-category">
                            <li class="menu-first"><a href="#services">Услуги</a></li>
                            <li><a href="#computer-price">Цены</a></li>
                            <li><a href="#about-us">О нас</a></li>
                            <li><a href="#our-contacts">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="btn-language">
                        <button v-on:click="show = !show" v-if="show">RU</button>
                        <button v-on:click="show = !show" v-else>UA</button>
                    </div>
                </div>
                <!--			<div class="menu-mobile" style="display: none;">-->
                <!--				<ul>-->
                <!--					<li><a href="#services">Услуги</a></li>-->
                <!--					<li><a class="menu-prices" href="#computer-price">Цены</a></li>-->
                <!--					<li><a class="menu-about-us" href="#about-us">О нас</a></li>-->
                <!--					<li><a href="#our-contacts">Контакты</a></li>-->
                <!--				</ul>-->
                <!--			</div>-->
            </div>
        </div>
        <div class="container">
            <div class="main-screen">
                <div class="main-text">
                    <h1 class="main-name">
                        <img class="img-fluid main-logo-img" src="./img/main-header-logo.svg"
                             alt="Ремонт компьютеров, ноутбуков, телефонов, планшетов, принтеров.">
                    </h1>
                    <div v-if="show" class="slogan">З нами ти можеш забути о проблемах з електронікою</div>
                    <div v-else class="slogan">С нами ты можешь забыть о проблемах с электроникой</div>
                    <div class="wrapper-slider">
                        <div class="slider" :style="{ 'margin-left': '-' + (96 * currentSliderIndex) + '%'}">
                            <h2 v-if="show" v-for="item in sliderSlogan" class="slider__item">{{ item.textUa }}</h2>
                            <h2 v-else class="slider__item">{{ item.textRu }}</h2>
                        </div>
                        <!--						<button @click="nextSlide">click</button>-->
                    </div>
                </div>
                <a v-if="show" id="know-more" href="#about-us" class="more-btn"><span class="more-btn-text">Дізнатись більше</span></a>
                <a v-else id="know-more" href="#about-us" class="more-btn"><span
                        class="more-btn-text">Узнать больше</span></a>
            </div>
        </div>
    </div>


    <section class="services" id="services">
        <div class="container">
            <div class="text-center">
                <div v-if="show" class="section-header ">Наші послуги</div>
                <div v-else class="section-header ">Наши услуги</div>
                <p v-if="show" class="section-desc">Що ми вміємо</p>
                <p v-else class="section-desc">Что мы умеем</p>

            </div>
            <div class="services-wrap">
                <div v-for="service in services" class="services-box">
                    <img class="img-fluid services-box-img" :src="`img/services/${service.img}`"
                         alt="Компьютерные услуги">
                    <h3 v-if="show" class="services-box-desc">{{ service.nameUa }}</h3>
                    <h3 v-else class="services-box-desc">{{ service.nameRu }}</h3>
                    <a v-if="show" class="services-box-btn" :href="service.url">Цiни</a>
                    <a v-else class="services-box-btn" :href="service.url">Цены</a>
                </div>
            </div>
        </div>
    </section>

    <section class="computer-price" id="computer-price">
        <div class="container">
            <div class="computer-price-wrap">
                <h4 v-if="show" class="computer-price-header">Ціни на комп'ютерні послуги</h4>
                <h4 v-else class="computer-price-header">Цены на компьютерные услуги</h4>
                <img class="img-fluid computer-price-header-img"
                     src="img/services/computer-price/copmuter-price-icn.svg"
                     alt="computer price">
            </div>

            <table class="computer-price-table table-hover table table-striped">
                <thead>
                <!--		<th>Наименование</th>-->
                <!--		<th>Цена</th>-->
                </thead>
                <tbody>
                <tr class="table-line"
                    :class="{'highlighted__line':item.highlightedLine}"
                    v-for="item in pc"
                    :key="pc.id"
                >
                    <td v-if="show" class="colum__one">{{ item.nameUa }}</td>
                    <td v-else class="colum__one">{{ item.nameRu }}</td>

                    <td class="colum__two">{{ item.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<script>

</script>

<script src="./vue.js"></script>
</body>

</html>